<ul class='lsi'>
  <li>Boo 1</li>
  <li>Boo 2</li>
  <li>Boo 3</li>
  <li>Boo 4</li>
</ul>

<table class='mt'>
  <caption>Caption</caption>
  <tbody>
    <tr>
      <td>Table 1</td>
      <td>Table 2</td>
      <td class='tdvar'>Table 3</td>
    </tr>
    <tr>
      <td>Table 1</td>
      <td class='emptd'></td>
      <td>Table 3</td>
    </tr>
  </tbody>
</table>