{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="btn btn-primary">Купити</button>

    <p>Some paragraph text</p>
</div>

<div class="fclass">Fucken class</div> 

<div class="col-3" id="myid">My super id</div>
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}
<hr>
<div class="card m-5 card-dark">
    <ul>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </ul>
</div>
<div class="card m-5">
    <ul>
        <li>Only child</li>
    </ul>
</div>
<hr>
<div class="card p-5 m-5 card-dark">
    <div class="item">DDIIIIVVVVV</div>
    <p class="item">Second item</p>
    <p class="item">Second item</p>
    <p class="item">Last item</p>
    <strong class="item">Strong !!!</strong>
    <p>Not</p>
    <p id="itempty"></p>
</div>
