<div class="card m-3 p-2 mydisplay">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum cum esse maiores quia quod tempora eum labore harum consectetur, aperiam unde, neque culpa similique possimus atque mollitia error velit? Enim?
</div>
{{!-- Блочні елементи --}}
<address></address>
<article></article>
<aside></aside>
<blockquote></blockquote>
<dd></dd>
<div></div>
<dl></dl>
<dt></dt>
<details></details>
<fieldset></fieldset>
<figcaption></figcaption>
<figure></figure>
<footer></footer>
<form></form>
<h1></h1>
<header></header>
<hr>
<li></li>
<legend></legend>
<nav></nav>
<noscript></noscript>
<ol></ol>
<output></output>
<optgroup></optgroup>
<option></option>
<p></p>
<pre></pre>
<section></section>
<summary></summary>
<table></table>
<ul></ul>
{{!-- Лінійні елементи --}}
<a></a>
<area>
<b></b>
<bdo></bdo>
<bdi></bdi>
<cite></cite>
<code></code>
<dfn></dfn>
<del></del>
<em></em>
<i></i>
<iframe></iframe>
<img>
<ins></ins>
<kbd></kbd>
<label></label>
<map></map>
<mark></mark>
<s></s>
<samp></samp>
<small></small>
<span></span>
<strong></strong>
<sub></sub>
<sup></sup>
<time></time>
<q></q>
<ruby></ruby>
<u></u>
<var></var>

{{!-- Рядково-блокові елементи --}}

<audio></audio>
<button></button>
<canvas></canvas>
<embed>
<input>
<meter></meter>
<object></object>
<progress></progress>
<select></select>
<textarea></textarea>
<video></video>
<hr>
<span class="dblock">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic odio, pariatur voluptates adipisci ab, suscipit vero rerum quia iusto sunt molestias nulla, facilis expedita architecto eveniet dolore vitae sit est?</span>

<div class="mymargin">
    Lorem ipsum, 
</div>
