<main class="p-5">
    <div class="card p-5">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quis expedita repudiandae delectus ab doloremque aut ipsam harum alias, dolorum ipsum? Nostrum recusandae blanditiis animi ea, reprehenderit in. Ipsam, corrupti.
        </p>
    </div>

    <h1 id="dirh1">Hello, asshole</h1>
    <div class="card p-5">
        <p id="pinit">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur adipisci eveniet sint blanditiis, officiis omnis, harum perferendis accusamus nam doloribus facere dolore quae corrupti, delectus earum ullam pariatur unde voluptates.
        </p>
    </div>
    <div class="card p-5">
        <h2 class="rtleft">Hello peoples</h2>
    </div>
    <div class="card p-5">
        <h2 class="lfright">Hello animals</h2>
    </div>
    <p class="pcentr">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos praesentium, officia dicta dignissimos, quod quis explicabo modi eaque aut, obcaecati eos accusantium saepe. Animi accusamus numquam magnam, nesciunt facilis illum.
    </p>
    <div class="card p-2 djust">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ut cumque accusamus harum fuga quo provident veritatis iste id ipsa, voluptate corrupti eos dolorum. Consequatur vero molestiae est totam eveniet.
    </div>
    <p class="ups">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, magni repellat incidunt fuga suscipit hic aut quaerat, nam modi, voluptatibus ipsa quibusdam expedita mollitia aliquam necessitatibus tenetur labore repudiandae atque!
    </p>
    <p class="lows">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, magni repellat incidunt fuga suscipit hic aut quaerat, nam modi, voluptatibus ipsa quibusdam expedita mollitia aliquam necessitatibus tenetur labore repudiandae atque!
    </p>
    <p class="caps">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, magni repellat incidunt fuga suscipit hic aut quaerat, nam modi, voluptatibus ipsa quibusdam expedita mollitia aliquam necessitatibus tenetur labore repudiandae atque!
    </p>
    <pre class="tab4">!	!Tabulation 4</pre>
    <pre class="tab8">!	!Tabulation 8</pre>
    <h1 class="letsps">Spacing spacing spacing</h1>
    <h2 class="tdecor">Text decoration, decoration</h2>
</main>
