<div class="card m-3">
    <a>Link 1</a>
    <a href="#">Link 2</a>
</div>
<div class="card m-3">
    <input required class="input-dark" type="text" value="Test">
</div>
<div class="card m-3">
    <input type="number" class="input-number" value="1000">
</div>
<div class="card m-3 col-2 img">
    <img src="https://picsum.photos/200/300" alt="skys flowers">
</div>
<div class="card m-3">
    <input class="btn-primary" value=" class:btn-primary ">
</div>
<div class="card m-3">
    <input value="trashsljfskljfjl">
</div>
<div class="card m-3">
    <input value="sljfskljfjltrash222sljfskljfjl">
</div>
<div class="card m-3">
    <input value="sljfskljfjlsljfskljfjltrash333">
</div>
<div class="card m-3 p-1">
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae neque quos sunt quia repellat nostrum nam officia adipisci quasi earum, eaque eum reprehenderit voluptas voluptate dolor quas corrupti reiciendis dolore.</span>
</div>
<div class="card m-3 p-1">
    <input placeholder="This is placeholder">
</div>
<div class="card m-3 p-1">
    <p class="parbef">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, quos exercitationem temporibus optio deleniti illo saepe corrupti hic ipsa perspiciatis iste repudiandae ducimus at laborum placeat corporis in? Autem, blanditiis.
    </p>
</div>
<div class="card m-3 p-1">
    <p class="paraft">
        Just go away.
    </p>
</div>
