<div class='row'>
  <div class='card p-3 col-3 crd1'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Dolor placeat, modi voluptatibus ea ab, perspiciatis
    blanditiis exercitationem numquam ratione ipsam impedit.
    Laboriosam, deserunt voluptatum eius magnam quibusdam
    repudiandae quam illum!
  </div>
  <div class='card m-3 col-3'>
    Boo
  </div>
  <div class='card m-3 col-3 pclass'>
    pclass
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Vel ad consequuntur perferendis magni alias,
      consectetur voluptas, reprehenderit ut blanditiis
      cumque obcaecati totam, tempora repudiandae! Officia
      velit quod illo expedita alias.</p>
  </div>
  <h2 class='m-3 col-3 crd2'>
    crd2 Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Porro, dolorem qui libero modi recusandae laborum
    magni odit ab cum, fuga minus aliquid nemo quae animi
    commodi ipsa molestiae officia. Molestias.
  </h2>
  <h1 class='col-3 crd3'>
    crd3 Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Laudantium architecto velit quibusdam laborum
    sapiente sint deserunt debitis quis alias eveniet
    ratione consequuntur autem vero, nihil in fuga
    doloremque rem aspernatur?</h1>
  <h4 class='col-3 crd4'>
    crd4 Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Nobis amet veritatis esse harum facere molestiae
    debitis illo atque nihil facilis delectus quidem ad
    tempore repellat in labore, eveniet temporibus
    exercitationem!
  </h4>
  <span class='col-3 crd5'>
    crd5 Lorem ipsum dolor sit, amet consectetur adipisicing
    elit. Placeat error non optio sequi magnam odit
    reprehenderit eum ipsa esse assumenda tempore ipsum
    ipsam nemo modi dicta doloribus, at quasi mollitia.
  </span>
  <span class='col-3 crd6'>
    crd6 Lorem ip&shy;sum dolor sit amet consectetur
    adipisicing elit. Quae magni dolorum perfe&shy;rendis
    nulla asperiores alias praesentium excepturi sunt
    repudiandae cupiditate ratione volup&shy;tas eveniet
    accusantium, saepe quia fuga itaque libero quo.
  </span>
  <span class='col-3 crd7'>
    crd7 Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Voluptatum debitis totam praesentium nihil quia!
    Saepe beatae eaque atque at laudantium omnis repellat
    officiis, amet sequi accusantium eos assumenda, et
    adipisci.
  </span>
  <h4 class='col-3 crd8'>crd8 Hello, fucking world ! I am
    here for rape you !</h4>
  <div class='card m-3 col-3 crd9'>
    crd9
  </div>

</div>