<div class='row'>
  <div class='card m-3 col-3 crd'>
    Boo
  </div>

  <div class='card m-3 col-3 crdbgcol'>
    Boo
  </div>

  <div class='card m-3 col-3 crdbgimg'>
    Boo
  </div>

  <div class='card m-3 col-3 crdbgradialgr'>
    Boo
  </div>

  <div class='card m-3 col-3 bgattachment'>
    Boo
  </div>

  <div class='card m-3 col-3 bgborder'>
    Boo
  </div>

  <div class='card m-3 col-3 bgorigin'>
    Boo
  </div>

</div>