<div class='card m-5'>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  Tenetur qui tempora nesciunt beatae! Recusandae
  perferendis, aliquam consectetur adipisci inventore optio
  pariatur ex explicabo corrupti iusto cum earum nesciunt
  quas delectus?
</div>

<div class='outdiv m-5'>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  Tenetur qui tempora nesciunt beatae! Recusandae
  perferendis, aliquam consectetur adipisci inventore optio
  pariatur ex explicabo corrupti iusto cum earum nesciunt
  quas delectus?
</div>

<div class='radiusdiv m-5'>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  Tenetur qui tempora nesciunt beatae! Recusandae
  perferendis, aliquam consectetur adipisci inventore optio
  pariatur ex explicabo corrupti iusto cum earum nesciunt
  quas delectus?
</div>
<button class='btn'>My</button>
<div style='text-align: center;'>
  <h1 class='txtsha'>Hello, cuttie !!!!</h1>
</div>
<div class='m-3 boxsha'>
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Numquam voluptate velit nemo voluptatum minus debitis vero
  praesentium quos ullam vel, natus omnis, nihil
  consequuntur, placeat veritatis aspernatur esse sit
  recusandae!
</div>
<div class='m-3 lhs'>
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Tempore expedita illo explicabo repellendus facere quia
  <br />
  ipsa quas, aspernatur temporibus modi ad voluptatibus
  maiores numquam quaerat delectus quasi in et ipsam?
</div>
<div>
  Text
  <span class='vasp'>Lorem ipsum dolor</span>
</div>