<a href="#">Some link</a>
<br>
<p>Some text</p>

<div class="parentdiv">
    I am parent div
    <div class="childdiv">
        I am child div
    </div>
</div>

<h1>Title h1</h1>
<h2>Title h2</h2>

<h1>Title h1</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fugit aliquam voluptas unde pariatur, exercitationem officiis recusandae, tempore, ipsa quo neque reiciendis! Nam, at numquam? Facere voluptates repellat aperiam fugit?</p>
<hr>

<form>
    <input type="text" value="Some input">
    <input type="number">
</form>
