<div class="card m-5 p-1">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem ipsa id nostrum expedita sequi eveniet harum iusto quidem! Quidem similique modi labore exercitationem cumque excepturi doloribus, explicabo ipsum eum tempore!
    </p>
    <span>Go to the kitchen</span>
</div>
<div class="card m-5 p-1">
    <p class="fweight">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et modi laudantium error repudiandae praesentium hic minima eum nihil consequatur vel voluptatum dolorum ut deserunt illum, magnam, sapiente laborum? Delectus, architecto!
    </p>
</div>
<div class="card m-5 p-1">
    <p class="fstyle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quo labore vitae placeat! Natus excepturi eaque odio nemo nihil adipisci magni architecto assumenda error recusandae magnam eos fugit, rem necessitatibus.
    </p>
</div>
<div class="card m-5 p-1">
    <h1 class="">Hello, font !</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui repudiandae animi quis cum quibusdam exercitationem quae repellat veritatis modi labore. Molestias, expedita. Dolor repudiandae, sunt ducimus ad voluptate vel quaerat!
    </p>
</div>