<div class="card p-5 m-5 card-dark">
    <a href="http://;f;sdlkfsl;df;skdf" class="link">Click me</a>
</div>
<div id="test" class="card p-5 m-5 card-dark">
    Jakir
</div>
<div class="card p-5 m-5 card-dark">
    <a href="#">Hover me</a>
</div>
<div class="card p-5 m-5 card-dark">
    <input type="text" value="Some text">
</div>
<div class="card p-5 m-5 card-dark">
    <p lang="uk">Слава нації ! Смерть ворогам !</p>
    <p lang="ru">Мы, кацапы - пидарасы</p>
    <p lang="en">Hello, world !</p>
</div>
<div class="card p-5 m-5 card-dark">
    <button>Enabled but</button>
    <button disabled>Button</button>
</div>
<div class="card p-5 m-5 card-dark">
    <input type="text" value="Some text">
    <input readonly type="text" value="Some text">
</div>
<div class="card p-5 m-5 card-dark">
    <div>
        <input class="chb" type="checkbox" checked>
        <span>Checkbox</span>
    </div>
    <div>
        <input class="chb" type="checkbox">
        <span>Checkbox</span>
    </div>
</div>
<div class="card p-5 m-5 card-dark">
    <input class="isvalid" type="email" required>
</div>
<div class="card p-5 m-5 card-dark">
    <input required>
    <input>
</div>
<div class="card p-5 m-5 card-dark">
    <input class="rng" type="number" min="1" max="10">
</div>
<div class="card p-5 m-5 card-dark">
    <input placeholder="Type here, asshole">
    <input>
</div>
