.card {
  background-color: bisque;
}

a[href] {
  color: red;
}

.input-dark {
  background-color: rgb(138, 132, 132);
}
.input-dark[required] {
  color: red;
}
.input-number[type='number'] {
  color: green;
}
img[alt~='flowers'] {
  background-color: blue;
}
.card[class~='img'] {
  width: 100px;
}
input[class|='btn'] {
  color: blueviolet;
}
input[value^='trash'] {
  background-color: blueviolet;
  color: bisque;
}
input[value*='trash222'] {
  background-color: rgb(7, 62, 139);
  color: rgb(239, 141, 22);
}
input[value$='trash333'] {
  background-color: rgb(37, 77, 3);
  color: rgb(232, 190, 208);
}
span::first-letter {
  color: red;
}
span::first-line {
  color: green;
}
input::placeholder {
  background: crimson;
}
.parbef::before {
  content: 'Bla bla bla: ';
  color: blue;
  text-decoration: line-through;
}
.paraft::after {
  content: ' Some clever man.';
  color: brown;
  text-decoration: underline;
}